        <div>
          <p>シングル/アルバム名</p>
          <div style="background-color: #887; width: 100%; height: 30px; margin-bottom: 10px">
            <p style="line-height: 30px">ここに入力フォームを作る</p>
          </div>
        </div>

        <div>
          <p>アニメ名</p>
          <!-- <div style="background-color: #887; width: 100%; height: 30px; margin-bottom: 10px"> -->
          <div style="margin-bottom: 10px">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                以下から選択してください
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a href="#">名探偵コナン</a></li>
                <li role="presentation"><a href="#">THE IDOLM@STER（アイドルマスター）</a></li>
                <li role="presentation"><a href="#">ReLIFE</a></li>
                <li role="presentation"><a href="#">攻殻機動隊 STAND ALONE COMPLEX</a></li>
                <li role="presentation"><a href="#">あの日見た花の名前を僕たちはまだ知らない</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div>
          <p>レーベル名</p>
          <!-- <div style="background-color: #887; width: 100%; height: 30px; margin-bottom: 10px"> -->
          <div style="margin-bottom: 10px">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                以下から選択してください
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a href="#">エイベックス・エンタテインメント</a></li>
                <li role="presentation"><a href="#">ソニー・ミュージックエンタテインメント</a></li>
                <li role="presentation"><a href="#">ユニバーサルミュージック</a></li>
                <li role="presentation"><a href="#">Being</a></li>
                <li role="presentation"><a href="#">ワーナーミュージック・ジャパン</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div>
          <p>ジャンル</p>
          <div style="background-color: #887; width: 100%; height: 30px; margin-bottom: 10px">
            <p style="line-height: 30px">ここにドロップダウンを作る▼</p>
          </div>
        </div>

        <div class="upper-cont-center-inventory">
          <p>在庫数</p>
          <div style="background-color: #887; width: 60%; height: 30px; margin-bottom: 10px; display: inline; padding: 7.5px 0">
            <span style="line-height: 30px">在庫数▲▼</span>
          </div>
          <span style="margin-left: 10px">個</span>
        </div>

        <div class="upper-cont-center-inventory">
          <p>値段</p>
          <div style="background-color: #887; width: 60%; height: 30px; margin-bottom: 10px; display: inline; padding: 7.5px 0">
            <span style="line-height: 30px">価格入力欄</span>
          </div>
          <span style="margin-left: 10px">円</span>
        </div>