    <!-- 下半分 -->
    <div class="lower-container">

      <% form_with(model: cds, local: true) do |f| %>







      <% end %>



      <div class="lower-cont-left">
        <p style="line-height: 30px">曲順</p>
        <div style="border: 1px solid black; float: right; padding: 5px 10px"><p>1</p></div>
      </div>

      <div class="lower-cont-center">
        <p style="line-height: 30px">シングル/アルバム内の曲名</p>

          <div style="background-color: #887; width: 100%; height: 30px; margin-bottom: 10px">
            <p style="line-height: 30px">曲名入力欄</p>
          </div>

      </div>

      <div class="lower-cont-right">

        <p style="line-height: 30px">アーティスト名入力欄</p>

          <div style="background-color: #887; width: 100%; height: 30px; margin-bottom: 10px">
            <p style="line-height: 30px">以下から選択▼</p>
          </div>

      </div>
    </div>