<div style="border:3px dotted #888">

<div class="nested-fields form-inline">

  <div class="form-group">

      <table>

        <tbody>
          <tr>
            <td><%= f.number_field :order, value:1 %></td>
<!-- 
            <td>
              <%# 1.step(4, 1) do |x| %>
                <%#= f.number_field :order, value:x %>
              <%# end %>
            </td>
 -->
            <td><%= f.text_field :title %></td>
            <td><%= f.text_field :artist %></td>
            <td><%= link_to_remove_association "ー", f, class:"btn btn-sm btn-default" %></td>
          </tr>
        </tbody>
      </table>

    <!-- <br> -->
    <%#= link_to_add_association "曲を追加 (_song_fields内記述)", f, :songs, class:"btn btn-sm btn-info" %>


  </div>

</div>



</div>