<div class="nested-fields form-inline">

  <div class="form-group">

    <table style="margin-bottom:5px">
      <tbody>
        <tr>
          <td class="col-xs-2"><%= f.number_field :order, placeholder:1, class:"form-control", style:"width:60%" %></td>
          <td class="col-xs-5"><%= f.text_field :title, class:"form-control", style:"width:100%" %></td>
          <td class="col-xs-4"><%= f.text_field :artist, class:"form-control", style:"width:100%" %></td>
          <td class="col-xs-1"><%= link_to_remove_association "削除", f, class:"btn btn-default", style:"width:100%" %></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>