
<div class="container">
	<h2>商品詳細</h2>
	<div class="row">
		<div class="col-lg-4" style="background-color: orange; height:1000px;">
		</div>
		<div class="col-lg-4" style="background-color: green; height:1000px;">
		</div>
		<div class="col-lg-4">
			<h3>チャット</h3>
			<div class ="chat-container">
				    <div class="form-group">
      					<input type="text" class="form-control" id="chat-input" value="<% @cd.id %>"　type="hidden" >
      					<input type="hidden" class="form-control" id="chat-input2" value="<%= @user.id %>"　type="hidden" >
    				</div>
    				<button id="button" class="btn btn-primary">送信</button>
				  <div id="chats">
					    <ul class="list-group">
					      <%= render @chats %>
					    </ul>
  				  </div>
			</div>
		</div>
	</div>
</div>