<footer>
 <% if current_user %>
  <div class="text">©️2019 Breaking Bat Spirit, Inc</div>
   <div class="link">

     <%=link_to "管理者ページ" ,histories_path %>
    </div>
 <% else %>
   <div class="text">©️2019 Breaking Bat Spirit, Inc</div>
<% end %>
</footer>