<footer>
  <div class="text">©️2019 Breaking Bat Spirit, Inc</div>
   <div class="link">
     <% if current_user %>
     <%=link_to "管理者ページ" ,histories_path %>
    </div>
     <% end %>
</footer>