<header>
 <div class="head">アニソン★魂</div>
  <%= link_to user_path(users.id),class:"btn btn-default_user_#{users.id}" do %>
 




<!-- <h1>Users#show</h1> -->
<!-- <p>Find me in app/views/users/show.html.erb</p> -->
