 <%= render 'users/header4',user: @user %>



<div class="container">

<h1 class="cart_items-title">最終確認画面</h1>

  <div class="row">
    <div class="col-xs-3">


    </div>
    <div class="col-xs-6">
      送付先情報<br>
      名前<br>
      名前フリガナ<br>
    </div>
    <div class="col-xs-3">
    </div>
  </div>

</div>



<%= render 'users/footer' ,user: @user %>