// Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";
@import "cds";
@import "cart_items";
@import "chats";
@import "users";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hiragino Sans', sans-serif;
    /* Chalkduster, "Bradley Hand", Courier, "Segoe Print", monospace, Courier, sans-serif */
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.title {
    font-size: 40px;
    padding: 20px;
}

.center {
    margin: 0 auto;
    text-align: center;
}
.actions{
  margin:20px auto;
}
.form-control{
  display: inline;
}
.form_new_display{
  height:520px;
}
