// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




// 最終確認画面
.cart-title {
    font-size: 40px;
    padding: 30px 60px;
}



// 左側
.cont-left {
    width: 30%;
    float: left;
    padding: 0 10px;
    border-right: 3px solid black;
}
.cart-image-box {
    width: 100%;
    height: 160px;
    padding: 0 25%;
    margin: 0 auto;
}
.cart-image {
    width: 80%;
    box-shadow: 3px 3px 4px #999;
}
.cont-left-name {
    width: 100%;
    float: left;
    padding: 0 40px 20px;
    text-align: center;
}
.cont-left-price {
    padding: 0 40px;
}
.total-price {
    text-align: right;
}
.underline {
    text-decoration: underline;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .5);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}
.cds-list {
  width: 95%;
  height: 300px;
  overflow: auto;
  margin-top: 20px;
}
.inners {
  background-color: #EEE;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  padding: 10px;
}
.cd-text {
  font-size: 11px;
}



// 真ん中
.cont-center {
    width: 45%;
    height: 600px;
    float: left;
    padding-left: 20px;
}
.cart-subtitle {
    font-size: 32px;
    padding: 10px 30px;
    border-bottom: 2px dashed #5cb85c;
}
.table-margin {
    margin: 30px;
}
.table-left {
    width: 25%;
    min-width: 5em;
    padding: 30px 0;
    font-size: 16px;
}
.table-right {
    width: 75%;
    padding: 30px 0;
    font-size: 16px;
}
.purchase-buttons {
    padding-left: 20px;
    margin: 10px;
}



// 右側
.cont-right {
    width: 21%;
    float: left;
    margin: 0 2%;
    padding: 20px;
    border: 3px solid #333;
    border-radius: 2%;
    /*background-color: #6BB;*/
}
.form-ucr {
    width: 70%;
    margin-right: 10px;
}
.width100 {
    width: 100%;
}
.btn-submit {
    margin-top: 20px;
}

.container {
  min-height: calc(100vh - 100px - 60px);
}
