// Place all the styles related to the cds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* cds.scss全体に適用。場合によってはapplication.scssと統合 */
p, span {
    font-size: 14px;
}
.label-bold {
    font-weight: bold;
    line-height: 20px;
    padding-top: 10px;
}
.center {
    margin: 0 auto;
    text-align: center;
}
/* ここまで */



/* cds#topに適用 */
.top-container {
    width: 100%;
}
.top-upper-container {
    width: 100%;
    height: -webkit-calc(100% - 90px);
    /*height: calc(100% - 90px);*/
    height: calc(100vh - 90px - (100vw / 6) - 40px);
    background-image: url("cute-but-no-deploy2.jpeg");
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid #ccc;
}
.top-title {
    margin: 0 auto;
    padding: 50px 60px 0;
}
.top-title-text {
    font-size: 45px;
    color: #FF4500;
    background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
    border-radius: 7px;
    opacity: 0.9;
    padding: 5px;
}
.top-title-visual {
    width: 95%;
    align: center;
    margin-top: -10px;
}


.top-lower-container {
    height : calc(100% / 6) ;
}
.top-cd-images {
    width: calc(100% / 6);
    height: calc(100vw / 6);
    float: left;
    padding: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,1);
}
.top-cd-images:hover {
    box-shadow: 0 0 25px rgba(0,0,0,1);
}


/* cds#newと#editに適用 */
.cds-new-title {
    font-size: 40px;
    padding: 30px 60px;
}

.upper-cont-right {
    width: 36%;
    float: right;
    margin: 0 2%;
    padding: 20px;
    border: 3px solid #333;
    border-radius: 3%;
}
.form-ucr {
    width: 70%;
    margin-right: 10px;
}
.btn-right {
    float:right;
}

.upper-cont-left {
    width: 25%;
    height: auto;
    float: left;
    padding: 20px 40px;
}
.cd-image {
    width: 100%;
    box-shadow: 2px 2px 4px #999;
    margin-bottom: 20px
}
.cd-image-select {
    width: 80%;
}

.upper-cont-center {
    width: 35%;
    float: left;
    padding: 20px 30px;
}
.upper-cont-center-items {
    width: 50%;
    float: left;
}
.unit {
    margin-left: 10px;
}

.lower-container {
    /* width: 80%; */
    margin: 0 auto;
    padding: 20px 20px;
}
.lower-container-right {
    width: 75%;
    float: right;
    padding: 15px 5px 0 15px;
    margin: 20px 0;
}
.table-width-order {
    width: 10%;
}
.table-width-song .table-width-artist {
    width: 40%;
}
.table-width-removebutton {
    width: 10%;
}


.image_result_display{
    width: 200px;
    height: 150px;
}

.album_result_display{
    height: 80px;
    width: 450px;
    font-size: 25px;
}

.price_result_display{
    height: 80px;
    font-size: 25px;
}
.zaikonashi{
    font-size: 20px;
    background-color: #FF4F50;
    display:inline-block;
    padding:3px 10px;
    border-radius: 10px 10px 10px 10px;
}
.zaikoari{
    font-size: 20px;
    background-color: #87CEFA;
    display:inline-block;
    padding:3px 10px;
    border-radius: 10px 10px 10px 10px;
}