/* cds.scss全体に適用。場合によってはapplication.scssと統合 */
p, span {
    font-size: 14px;
}
.label-bold {
    font-weight: bold;
    line-height: 20px;
    padding-top: 10px;
}
/* ここまで */



/* cds#topに適用 */
.top-container {
    width: 100%;
}
.top-upper-container {
    width: 100%;
    height:440px;
    // height: -webkit-calc(100% - 100px);
    /*height: calc(100% - 100px);*/
    // height: calc(100vh - 100px - (100vw / 6) - 60px - 55px);
    background-image: url("/images/gogogo.jpeg");
    background-position: center;
    border-bottom: 2px solid #ccc;
}
.top-upper-image {
    width: 50%;
    height: 440px;
    background:image-url('/images/back02.jpg');
    background-size: cover;
    margin: 0 auto;
}
.top_search{
    width: 600px;
    height: 55px;
    margin-left:300px;
    display:inline-block;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 30px;
}
.center-conteiner{
    width:100%;
    height:100px;
    background-color:black;
    margin:30px 0;
}
.center-text{
    float:left;
    padding-top:30px;
}
// .top-title-text {
    // font-size: 45px;
    // color: #FF4500;
    // background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
    // border-radius: 7px;
    // opacity: 0.9;
    // padding: 5px;
// }
// .top-title-visual {
    // width: 95%;
    // align: center;
    // margin-top: -10px;
// }

.top-lower-container {
    height : calc(100% / 6) ;
    width: 100%;
}
.top-cd-images {
    width: calc(100% / 6);
    height: calc(100vw / 6);
    padding: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,1);
}
.top-cd-images:hover {
    box-shadow: 0 0 25px rgba(0,0,0,1);
}





/* cds#newと#editに適用 */
.upper-cont-right {
    width: 36%;
    float: right;
    margin: 0 2%;
    padding: 20px;
    border: 3px solid #333;
    border-radius: 3%;
}
.form-ucr {
    width: 70%;
    margin-right: 10px;
}
.btn-right {
    float:right;
}

.upper-cont-left {
    width: 25%;
    height: auto;
    float: left;
    padding: 20px 40px;
}
.cd-image {
    width: 100%;
    box-shadow: 3px 3px 4px #999;
    margin-bottom: 20px;
}
.cd-image-select {
    width: 80%;
}

.upper-cont-center {
    width: 35%;
    float: left;
    padding: 20px 30px;
}
.upper-cont-center-box {
    width: 90%;
}
.upper-cont-center-items {
    width: 50%;
    float: left;
}
.unit {
    margin-left: 10px;
}
.lower-container {
    /* width: 80%; */
    margin: 0 auto;
    padding: 20px 20px;
}
.lower-container-right {
    width: 75%;
    float: right;
    padding: 15px 5px 0 15px;
    margin: 20px 0;
}
.table-width-order {
    min-width:60px;
    max-width:100px;
}
.table-width-song {
    min-width:200px;
    max-width:400px;
}
.table-width-artist {
    max-width:200px;
}
.table-width-removebutton {
}

/* cds#resultに適用 */
.image_result_display{
    width: 200px;
    height: 150px;
    padding-left: 15px;
}

.album_result_display{
    height: 80px;
    width: 430px;
    font-size: 25px;
}

.price_result_display{
    font-size: 25px;
}
.zaikonashi{
    font-size: 15px;
    background-color: #FF4F50;
    display:inline-block;
    padding:3px 10px;
    border-radius: 10px 10px 10px 10px;
}
.zaikoari{
    font-size: 15px;
    background-color: yellow;
    display:inline-block;
    padding:3px 10px;
    border-radius: 10px 10px 10px 10px;

}

.header4_search{
     width: 254px;
     height: 40px;
     margin-left: 25%;
     margin-top: 2%;
}

/* ここから商品詳細ページ */

/*.cd-text-list{
    background-color:yellow;
}*/
.album-title{
    border-bottom:2px solid #DCDCDC;
}
.cd-content{
    width:100%;
    padding-left:20px;
    padding-top:20px;
    color:#666666;
}
.cd-text{
    margin-bottom:25px;
}

.disc{
    margin:25px 0 25px 0;
}
.disc p{
    color:#DCDCDC;
}
.song{
    margin-bottom:15px;
}
.new-list{
    width:100%;
    height:210px;
    overflow: scroll;
    background-color:whitesmoke;
    border: 1px solid #DCDCDC;
    border-radius:10px;
    display: flex;
    padding:20px;

}
.new-list-title{
    float:left;
}
.new-list-content{
    float:left;
    padding-right:20px;
}
.song h7{
    font-size:12px;
}
.list-group-item{
    margin:20px 0;
}
.list-group-item p{
    font-size:10px;
}
.chats{
    width: 100%;
    height: 500px;
    overflow: scroll;
}
.price{
    padding:6px;
    width:32%;
    border-radius:4px;
    text-align:center;
    float:left;
    border:1px solid #DDDDDD;
    margin:10px 5px 10px 0;
    background-color:white;
}
.inventory{
    background-color:yellow;
    padding:6px;
    width:32%;
    border-radius:4px;
    text-align:center;
    border:1px solid #DDDDDD;
    float:left;
    margin:10px 2px 10px 0;
}
.inventory0{
    background-color:red;
    padding:6px;
    width:32%;
    border-radius:4px;
    text-align:center;
    border:1px solid #DDDDDD;
    float:left;
    margin:10px 2px 10px 0;
}
.cart-in{
    width:33%;
    float:left;
    margin:10px 0px 10px 0;
}
.submit{
    padding:6px;
}
.form-group{
    padding-top: 20px;
}

.new{
    width:100%;
    margin:40px 0;
    float: left;
}

.chat-button{
    padding-top: 10px;
}
.chats{
    border:5px solid #DDDDDD;
    padding-left:9px;
    border-radius:3px;
}

/*ここからカート一覧ページ*/
.cart-item{
    padding:30px;
    width:90%;
}
.cart-content{
    float:left;
    margin:20px;
}
.cart-image{
    float:left;
    margin:20px;
}
.cart-price{
    float:left;
    margin:30px auto;
    padding:50px;
}
.cart-quantity{
    float:left;
    margin:30px auto;
    padding:50px;
}
.cart-content h3{
    margin:30px auto;
}
.table-content{
    height:100px;
    margin:30px auto;
}

.cart-item-total{
    width:100%;
    height:300px;
    background-color:#EEE;
    border-radius:10px;
    padding:20px;
    border: 1px solid #CCC;
}

.cds_index_search {
    width:300px;
    height:40px;
    margin: 0 auto;
}
.paginate{
    margin:0 auto;
}

.search-index{
    margin-bottom:30px;
}

.price-btn{
    margin-top:80px;
}
.table{
    vertical-align:center;
}


// .background:image-url('dare24.jpg');
//  background-size:cover;
//  background-position: 80% 0%;
// background-position: right 10px;
// background-size: 2000px 2000px;
// }
.table_result{
    background-color:rgba(250, 250, 250, 0.3);
    border-radius: 10px 10px 10px 10px;
    width: 790px;
}
.show-container{
    background-color:rgba(0, 0, 0, 0.6);
    border-radius:10px;
}
.white-text{
    color:white;
}
