// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height:100px;
    background-color:black;
}

.icon a:nth-child(2){
    margin:0px 5px 0px 10px;
}
.head {
    color: white;
    float: left;
    font-size:25px;
    padding: 30px;
}

.logout-icon{
    margin: 0px 30px;
}

.btn {
margin-left:7px;
}

.header2{
    float:center;
    padding:30px;
    text-align: center;
    text-sizu:10px;
}

.welcomeuser {
    float:centre;
    padding: 40px;
    margin-left:35%;
    font-size: 20px;
    color:#e925c2;
}

.nav {
    padding: 40px;
}

.icon {
    padding:30px 20px 10px 0px;
    float:right;
    margin:0 10 0 0px;
}


footer {
    width: 100%;
    height: 60px;
    background-color:black;
}
.text {
    color: white;
    float:left;
    padding: 20px 40px;
}

// 武蔵谷追記
.user-login {
  width:50%;
  color: #fff;
  padding-top:13px;
  margin:0 auto;
  text-shadow: 0 0 15px #FF6694;
  font-size: 30px;
  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
  text-align: center;
}


 .edit_btn{
 margin:10px 10px 0 60px;
 }
 .delete_btn{
 margin:10px 30px 0 10px;
 }
 .name_display{
 margin-top: 15px;
 }

.container{
}

.form-group{
}

.title_display{
 margin:20px 0 20px 90px;
}


.edit_namekana_display{
 float: left;
}

.edit_address_display{
    float: right;
}
.form_new{
    width: 240px;
    height: 30px;
}
textarea {
  resize: none;
  width: 240px;
  height:95px;
  border: 1px solid #DDDDDD;

}

.title_new_display{
    margin-top: 50px;
    // color: #FFFFFF;
}

.form_new_display{
    margin-top: 100px;
}

.image_index_display{
width: 100px;

}

.name_index_display{
width: 110px;
text-align: center;
line-height: 30;
}
.namekana_index_display{
width: 110px;
text-align: center;
}
.nickname_index_display{
width: 150px;
text-align: center;
}
.postal_index_display{
width: 110px;
text-align: center;
}
.address_index_display{
width: 220px;
text-align: center;
}

.phone_index_display{
width: 150px;
text-align: center;
}

.email_index_diesplay{
width: 180px;
text-align: center;
}

.edit_index_display{
width: 50px;
text-align: center;
}

.delete_index_display{
width: 50px;
text-align: center;

}
.kensaku{
    margin-top: 20px;
}
.taikai{
    background: gray;
}

.favorite-list{
    width:100%;
    height:200px;
    overflow: scroll;
    display: flex;
}
.favorite-list-content{
}

.user-index-title{
    float:left;
    display:inline-block;
    margin-top:20px;
    margin-bottom:50px;
}
.cds_index_searh {
    width:250px;
    height:30px;
    margin-top:35px;
}

.history_container{
    margin-top: 20px;
    margin-bottom:20px;
    background-color: #FFFFCC;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 10px;
}
.history_status {
    padding: 10px;
    float: right;
    display: inline;
}
.history_box1{
    padding-bottom: 20px;


}

.history_box2{
    padding-top: 20px;
    border-top: solid #808000;
}
.show_histories_name{
    padding-top: 8px;
    padding-left: 15px;
    width: 50%;
}
.show_time{
    float:right;
    padding-top: 20px;
    padding-right: 10px;

}
.show_postal_address{
    font-size: 15px;
    padding-top: 5px;
    padding-left: 50px;
}
.show_quantity_price{
    font-size: 20px;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 10px;
}
.show_quantity{
    padding-left: 33%;
    font-size: 20px
}
.show_price{
    padding-left: 10%;
    font-size: 20px
}
.show_total_quantity{
    font-size: 20px;
}
.show_total_price{
    padding-left: 20%;
    font-size: 20px;
    padding-bottom: 20px;
}
.search--history-index{
    padding-top: 40px;
}


.user-header2 {
    float:left;
    padding:35px 0 20px 20px;
    font-size:25px;
}

.edit_image{
    padding-left: 20px;
}
.back_image{

  background:image-url('/images/back1.png');
  background-size:cover;
  padding:30px 0;

}

.a{

 background-size:cover;

 background:image-url('/images/shiro5.gif');

}


.b{
background:image-url('/images/dare2.jpg');

}
.c{
background:image-url('/images/dare11.jpeg');
 background-size:cover;

}

.search_index{
    width: 300px;
    height: 40px;
}
