// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .edit_btn{
 margin:10px 10px 0 60px;
 }
 .delete_btn{
 margin:10px 30px 0 10px;
 }
 .name_display{
 margin-top: 15px;
 }

.container{
}

.form-group{
}

.title_display{
 margin:20px 0 20px 90px;
}

input[type="text"] {
  width: 240px;
}

.edit_namekana_display{
 float: right;
}

.edit_address_display{
	float: right;
}

textarea {
  resize: none;
  width: 240px;
  height:95px;
  border: 1px solid #DDDDDD;

}

.title_new_display{
	margin-top: 50px;
}

.form_new_display{
	margin-top: 100px;
}

.image_index_display{
width: 100px

}

.name_index_display{
width: 110px;
text-align: center;
line-height: 30;
}
.namekana_index_display{
width: 110px;
text-align: center;
}
.nickname_index_display{
width: 150px;
text-align: center;
}
.postal_index_display{
width: 110px;
text-align: center;
}
.address_index_display{
width: 220px;
text-align: center;
}

.phone_index_display{
width: 150px;
text-align: center;
}

.email_index_diesplay{
width: 180px;
text-align: center;
}

.edit_index_display{
width: 50px;
text-align: center;
}

.delete_index_display{
width: 50px;
text-align: center;
}
.kensaku{
	margin-top: 20px;
}
.taikai{
	background: gray;
}