<!DOCTYPE html>
<html>
<body>
 <header style="background-color: black">
  <div class="container">
  <div class="row">

       <h3 style="color: white;">アニソン★魂</h3>
       <p class="nav navber-nav navber-right">
       <li class="nav nav-tabs navbar-right">
       <div class="col-xs-6" style="color: white;"><%=link_to "ログイン", new_user_session_path %></div>
       <div class="col-xs-6" style="color: white;"><%= link_to "会員登録", new_user_registration_path%></div>
   </li>
   </p>

  </div>
  </div>
</header>
</body>
</html>